@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&display=swap');

* {
  padding:0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  padding: .8rem 1.5rem;
  background: #8435de;
  cursor: pointer;
  border-radius: 3rem;
  border: none;
}

button:hover{
  background: #a574dd;
}

